@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700&display=swap');


$mistake-color: rgb(255, 255, 124);
$sentence-color: #fce5cd;
$repetition-color: #c9daf8;
$punctuation-color: #ead1dc;



.editor {
    background: #fff;
    opacity: 1;
    

    &__center {
        background: #fff;
        display: flex;
        justify-content: center;
    }

   
    &__text-area {
        outline: none;
        -moz-appearance: none;
        border: none;
        resize: none;
        background: rgba(255, 255, 255, 0.87);
        position: absolute;
        padding: 2em;
        width: 32%;
        height: 90vh;
        margin: 10px;
        text-indent: 2em;
        font-size: 16px;
        font-weight: 500;
        font-family: "Montserrat";
        z-index: 3;
        opacity: 1;
        border-radius: 5px;
    }
    &__paragraph {
       
        background: rgb(255, 255, 255);
        position: absolute;
        font-family: "Times New Roman",sans-serif;
        font-weight:900;
        text-align: left;
        padding: 2em;
        width: 32%;
        height: 90vh;
        margin: 10px;
        text-indent: 2em;
        font-size: 18px;
        font-weight: 500;
        z-index: 1;
        opacity: 1;
        overflow: scroll;
        text-indent: 2em;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.205);
        border-radius: 5px;
        
    }
    &__paragraph::-webkit-scrollbar { width: 0 !important }
    
    &__comment {
        display: flex;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: #2d2d2d;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: auto;
        width: 15vw;
        top: 35%;
        left: 72%;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0,0,0,.205);
        padding: 10px;
        opacity: 0;
        transition: 300ms;
        background: #2d2d2d;
        color: white;
        z-index: 1;
    
    }
    &__mistakes {
        display: flex;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: #2d2d2d;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: auto;
        width: 15vw;
        top: 35%;
        left: 22%;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0,0,0,.4);
        padding: 10px;
        opacity: 0;
        transition: 300ms;
        background: #2d2d2d;
        color: white;
        z-index: 1;
    }
}
.mistake {
    background: $mistake-color;
    opacity: 1;
    transition: 400ms;
    cursor: pointer;
    border-radius: 5px;


}
.sentence {
    background: $sentence-color;
    transition: 400ms;
    cursor: pointer;
    border-radius: 5px;

}

.repetition {
    background: $repetition-color;
    transition: 400ms;
    cursor: pointer;
    border-radius: 5px;
}
.punctuation {
    background: $punctuation-color;
    transition: 400ms;
    cursor: pointer;
    border-radius: 5px;
}



@media screen and (max-width: 768px) {
    .editor {
        &__text-area,&__paragraph {
            width: 80%;
            margin-left: 0;
        }
        &__comment {
            width: 50%;
            left: 22.5%;
            top: 85%;
        }
        
    }
    
}