@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700&display=swap');


$style-color: rgb(255, 255, 124);
$sentence-color: #fce5cd;
$repetition-color: #c9daf8;
$punctuation-color: #ead1dc;
$formatting-color: #f9cb9c;
$replace-color: #b6d7a8;

@mixin mistakeSet ($color) {
    position: relative;
    background: $color;
    transition: 400ms;
    cursor: pointer;
    border-radius: 5px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.editor {
    background: #fff;
    opacity: 1;

    

    &__center {
        background: #fff;
        display: flex;
        justify-content: center;
    }

   
    &__text-area {
        outline: none;
        -moz-appearance: none;
        border: none;
        resize: none;
        background: rgba(255, 255, 255, 0.87);
        position: absolute;
        padding: 2em;
        width: 32%;
        height: 90vh;
        margin: 10px;
        text-indent: 2em;
        font-size: 16px;
        font-weight: 500;
        font-family: "Montserrat";
        z-index: 3;
        opacity: 1;
        border-radius: 5px;
    }
    &__paragraph {
       
        background: rgb(255, 255, 255);
        position: absolute;
        font-family: "Times New Roman",sans-serif;
        font-weight:900;
        text-align: left;
        padding: 2em;
        width: 32%;
        height: 90vh;
        margin: 10px;
        text-indent: 2em;
        font-size: 18px;
        font-weight: 500;
        z-index: 1;
        opacity: 1;
        overflow: scroll;
        text-indent: 2em;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.205);
        border-radius: 5px;
        
    }
    &__paragraph::-webkit-scrollbar { width: 0 !important }
    
    &__comment {
        display: flex;
        font-family: "Montserrat","Open Sans", sans-serif;
        font-weight: 400;
        font-size: 15px;
        justify-content: center;
        align-items: center;
        position: absolute;
        line-height: 20px;
        height: auto;
        min-height: 5vh;
        width: auto;
        min-width: 10vw;
        max-width: 15vw;
        top: 35%;
        left: 72%;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
        padding: .5vw;
        opacity: 0;
        transition: 300ms;
        background: linear-gradient(to bottom, #1a1a1aec, #3d3d3dfa);
        color: rgb(236, 236, 236);
        z-index: 4;
    
    }
    &__mistakes {
        display: flex;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: #2d2d2d;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: auto;
        width: 15vw;
        top: 35%;
        left: 22%;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0,0,0,.4);
        padding: 10px;
        opacity: 0;
        transition: 300ms;
        background: #2d2d2d;
        color: white;
        z-index: 1;
    }
}
.academicStyle {
    opacity: 1;
    @include mistakeSet($style-color);
}
.structure {
    @include mistakeSet($sentence-color);
}
.repetition {
    @include mistakeSet( $repetition-color);
}
.grammar {
   @include mistakeSet($punctuation-color);
}
.formatting {
    @include mistakeSet($formatting-color);
}
.replace {
    @include mistakeSet($replace-color);
}




@media screen and (max-width: 768px) {
    .editor {
        &__text-area,&__paragraph {
            
            width: 95%;
            left: 0;
            right: 0;
            top: 22%;
            padding: .6em;            
        }
        &__comment {
            width: 50%;
            max-width: none;
            min-width: none;
            left: 22.5%;
            top: 85%;
        }
    }
}